

.navbar{
    background-color:#f1efe5;
}

.bg {
    background-color: #f1efe5;
}
    


.f{
    font-family: 'Lobster', cursive;
    color: #52b788;
    text-shadow: 3px 0 #232931;

}
.display-6{
    font-family: 'Lobster', cursive;
    
    text-shadow: 3px 0 #232931;

}

p{
    font-size: 2rem;
    color: #52796f;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    
}

.img{
    width: 50%;
}


.btn:hover{
    box-shadow: 12px 6px 6px #4c3f5e;

    cursor:pointer;

}
